.displayTable{
  max-width: 320px;
  margin: 0 auto;
  border: darkgray 2px;
  border-style: outset;
  border-radius: 10px;

}


.displayTableCell{
  border: 2px black;
}


h2{
  text-align: center;
  color: cornflowerblue;
}


.text-center{
  text-align: center;
}

.formGroup{
  margin-left: 70px;
}

.formControl{
width: 200px;
margin-right: 50px;
}

.btnPrimary{
  color: red;
  margin-left: 10px;
  border: none;
  background-color: white;

}

.btnPrimary:hover{
  color: aquamarine;
}

.redirectToLogin{
  margin-left: 80px;
}
