/* .a{
  display: inline-block;

}

.nava{
  top:200px;
  border-radius: 2px;
}

.linklogin{
  position: absolute;
  color: white;
  text-align: center;
  top: 200px;
  left: 1280px;
  border: 2px black;

} */

/* .home{
  position: absolute;
  color: white;
  text-align: center;
  top: 200px;
  left: 1092px;
  margin-bottom: 100px;
  border: 2px black;
} */
/* .register{
position: absolute;
color: white;
text-align: center;
top: 200px;
left: 1180px;margin-bottom: 100px;
border: 2px black;
} */
