.btn{
  background-color: white;
  border: none;
}
.btn:hover{
  background-color: burlywood;
}
.img1{
  position: relative;
  margin-left: 250px;
}
.img2{
  margin-left: 250px;
}
.content1{
  margin-top: 50px;
  margin-right: 400px;
}
